
.row {
    /*border: 1px solid #ccc;*/
    margin: 0;
}

.top{
    margin-top:2%;
}

p{
    color: #333;
    font-family: sans-serif, monospace;
    font-weight: lighter;
    font-size: 29px;
    line-height: normal;
}

p img{
    padding-right: 276px;
}

.project-intro{
    margin-left: 50%;
    transform: translate(-300px);
    width: 600px;
    /*border: 1px solid #000;*/
    padding: 0 30px 0 30px;
}

.project-intro p{
    text-align: justify;
    color: #333;
    font-size: 17px;
    font-family: sans-serif;
    font-weight: normal;
    
}

/*Grid Layout*/
.grid-layout{
    margin-right: auto;
    margin-left: auto;
    padding-right: 0px;
    padding-left: 0px;
    width: 100%;
    height: auto;
    
}
.jumbotron{
    position:relative;
    border-radius: 0px;
    height: 400px;
    background-color:#E7C652
}

.jumbotron .container{
   /* border: 1px solid #000;*/
}
.grid-layout li, .address .social-footer  li{
    position:relative;
    float: left;
    list-style: none;
}

.cse-dept, .elec-dept, .electronics-dept{
    margin: 5px 26px 5px 0;
    width:352px;
    border-radius: 6px;
    height:300px;
    border: 1px solid #999;
    box-shadow: 5px 2px 4px 1px #ccc;
    text-align: center;
}

.cse-dept p, .elec-dept p, .electronics-dept p{
    margin-top: 30%;
    
}

.cse-dept a{
    
}

.cse-dept:hover, .elec-dept:hover, .electronics-dept:hover{
/*    -moz-transition:0.1s ease-in-out;
    box-shadow: 5px 4px 5px 1px rgba(0, 136, 204, 0.5);
    -moz-transform: scale(1.02);*/
}


.read-more{
    height:33px;
    width:110px;
    border: 1px solid #43E542;
    border-radius: 2px;
    margin-left: 50%;
    transform: translate(-55px);
}

.grid-layout .read-more a{
    color: #43e542;
    font-size: 15px;
}

.grid-layout .read-more:hover{
    cursor: pointer;
    border: 1px solid #08c;
    -moz-transition: 0.2s ease-in-out;
}
.grid-layout .read-more:hover > a{
    -moz-transition: 0.2s ease-in-out;
    cursor: pointer;
    color:#08c;
    text-decoration: none;
}

/*---------- footer ---------- */
.jumbotron{
    margin: 0;
}
.jumbotron .container .address {
    height: auto;
    width: 263px;
    /*border: 1px solid #08c;*/
    
}

.jumbotron .container .address p{
    font-size: 14px;
    line-height: 2;
    font-family: 'Oswald', sans-serif;
}

.jumbotron .container .address span{
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
}

.address .social-footer{
    width: 345px;
    /*border: 2px dashed #000;*/
    position: absolute;
    float: left;
}

.address p, .address .social-footer  li p{
    font-weight: 400;
    font-family: 'Oswald', sans-serif;
    text-align: left;
}

.container-fluid{
    background-color: #000;
    height: 47px;
    
}

.container-fluid .container p{
    font-size: 12px;
    color: #fff;
    line-height: -10.42px;
}
@media(max-width:1200px){
    p{
        text-align: center;
    }
    .project-intro{
        width: 300px;
        transform: translate(-150px);
    }
}
